In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("../Data/신림 일별 시간대별 승객유형별 승하차인원.csv")
df.head()

,수송일자,호선명,역번호,역명,승하차구분,승객유형,06시간대이전,06-07시간대,07-08시간대,08-09시간대,...,17-18시간대,18-19시간대,19-20시간대,20-21시간대,21-22시간대,22-23시간대,23-24시간대,24시간대이후,월,년
0,2022-06-01,2.0,230,신림,승차,일반,801,1198,1493,2434,...,2215,1845,1463,1432,1429,1191,512,2.0,6,2022
1,2022-06-01,2.0,230,신림,승차,어린이,0,0,0,10,...,39,38,14,10,4,1,1,0.0,6,2022
2,2022-06-01,2.0,230,신림,승차,중고생,0,1,0,0,...,1,0,1,0,1,1,0,0.0,6,2022
3,2022-06-01,2.0,230,신림,승차,청소년,9,7,17,26,...,139,108,63,76,80,73,27,0.0,6,2022
4,2022-06-01,2.0,230,신림,승차,우대권,246,251,256,282,...,338,260,213,181,125,63,26,1.0,6,2022

In [4]:
df.tail()

,수송일자,호선명,역번호,역명,승하차구분,승객유형,06시간대이전,06-07시간대,07-08시간대,08-09시간대,...,17-18시간대,18-19시간대,19-20시간대,20-21시간대,21-22시간대,22-23시간대,23-24시간대,24시간대이후,월,년
12375,2024-05-31,2.0,230,신림,하차,직원,3,7,7,16,...,9,16,13,4,11,8,4,11.0,5,2024
12376,2024-05-31,2.0,230,신림,하차,영어 일반,0,0,0,0,...,1,2,1,2,0,2,1,0.0,5,2024
12377,2024-05-31,2.0,230,신림,하차,일어 일반,0,0,0,0,...,0,1,0,0,0,0,2,0.0,5,2024
12378,2024-05-31,2.0,230,신림,하차,중국어 일반,0,0,0,0,...,0,11,0,0,4,0,0,0.0,5,2024
12379,2024-05-31,2.0,230,신림,하차,중국어 어린이,0,0,0,0,...,0,2,0,0,0,0,0,0.0,5,2024

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12380 entries, 0 to 12379
Data columns (total 28 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   수송일자      12380 non-null  object
 1   호선명       12380 non-null  float64
 2   역번호       12380 non-null  int64
 3   역명        12380 non-null  object
 4   승하차구분     12380 non-null  object
 5   승객유형      12380 non-null  object
 6   06시간대이전   12380 non-null  int64
 7   06-07시간대  12380 non-null  int64
 8   07-08시간대  12380 non-null  int64
 9   08-09시간대  12380 non-null  int64
 10  09-10시간대  12380 non-null  int64
 11  10-11시간대  12380 non-null  int64
 12  11-12시간대  12380 non-null  int64
 13  12-13시간대  12380 non-null  int64
 14  13-14시간대  12380 non-null  int64
 15  14-15시간대  12380 non-null  int64
 16  15-16시간대  12380 non-null  int64
 17  16-17시간대  12380 non-null  int64
 18  17-18시간대  12380 non-null  int64
 19  18-19시간대  12380 non-null  int64
 20  19-20시간대  12380 non-null  int64
 21  20-21시간대  12380 non-null  int64
 22  21-22시간대  12380 non-null  int64
 23  22-23시간대  12380 non-null  int64
 24  23-24시간대  12380 non-null  int64
 25  24시간대이후   12380 non-null  float64
 26  월         12380 non-null  int64
 27  년         12380 non-null  int64
dtypes: float64(2), int64(22), object(4)
memory usage: 2.6+ MB

In [6]:
df.shape

(12380, 28)

In [7]:
def sumType(df, target, *add):
    print(add)
    for idx, row in df[df['승객유형'].isin(add)].iterrows():
        # 동일한 수송일자의 '일반' 승객 찾기
        general_idx = df[(df['수송일자'] == row['수송일자']) & (df['승객유형'] == target)].index
        if len(general_idx) > 0:
            # 각 시간대별 값 합하기
            for i in ['06시간대이전', '06-07시간대',
        '07-08시간대', '08-09시간대', '09-10시간대', '10-11시간대', '11-12시간대', '12-13시간대',
        '13-14시간대', '14-15시간대', '15-16시간대', '16-17시간대', '17-18시간대', '18-19시간대',
        '19-20시간대', '20-21시간대', '21-22시간대', '22-23시간대', '23-24시간대', '24시간대이후']:
                df.at[general_idx[0], i] += row[i]
            df.drop(index=idx, inplace=True)

    # 인덱스 리셋
    df.reset_index(drop=True, inplace=True)

    return df

In [8]:
df = sumType(df, '일반', '직원', '영어 일반', '일어 일반', '중국어 일반')

('직원', '영어 일반', '일어 일반', '중국어 일반')

In [9]:
df = df.melt(id_vars=['수송일자', '호선명', '역번호', '역명', '승하차구분', '승객유형', '월', '년'], 
                    var_name='시간대', 
                    value_name='승객수')

In [10]:
df

              수송일자  호선명  역번호  역명 승하차구분     승객유형  월     년      시간대    승객수
0       2022-06-01  2.0  230  신림    승차       일반  6  2022  06시간대이전  801.0
1       2022-06-01  2.0  230  신림    승차      어린이  6  2022  06시간대이전    0.0
2       2022-06-01  2.0  230  신림    승차      중고생  6  2022  06시간대이전    0.0
3       2022-06-01  2.0  230  신림    승차      청소년  6  2022  06시간대이전    9.0
4       2022-06-01  2.0  230  신림    승차      우대권  6  2022  06시간대이전  246.0
...            ...  ...  ...  ..   ...      ... ..   ...      ...    ...
155915  2024-05-31  2.0  230  신림    하차      어린이  5  2024  24시간대이후    0.0
155916  2024-05-31  2.0  230  신림    하차      중고생  5  2024  24시간대이후    0.0
155917  2024-05-31  2.0  230  신림    하차      청소년  5  2024  24시간대이후   16.0
155918  2024-05-31  2.0  230  신림    하차      우대권  5  2024  24시간대이후   24.0
155919  2024-05-31  2.0  230  신림    하차  중국어 어린이  5  2024  24시간대이후    0.0

[155920 rows x 10 columns]

> 수송일자를 datetime으로 변경

In [11]:
df['수송일자'] = pd.to_datetime(df['수송일자'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155920 entries, 0 to 155919
Data columns (total 10 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   수송일자    155920 non-null  datetime64[ns]
 1   호선명     155920 non-null  float64
 2   역번호     155920 non-null  int64
 3   역명      155920 non-null  object
 4   승하차구분   155920 non-null  object
 5   승객유형    155920 non-null  object
 6   월       155920 non-null  int64
 7   년       155920 non-null  int64
 8   시간대     155920 non-null  object
 9   승객수     155920 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(4)
memory usage: 11.9+ MB

#### 수송일자 컬럼을 기준으로 일과 공휴일 컬럼 추가

In [12]:
df['일'] = df['수송일자'].dt.day
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155920 entries, 0 to 155919
Data columns (total 11 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   수송일자    155920 non-null  datetime64[ns]
 1   호선명     155920 non-null  float64
 2   역번호     155920 non-null  int64
 3   역명      155920 non-null  object
 4   승하차구분   155920 non-null  object
 5   승객유형    155920 non-null  object
 6   월       155920 non-null  int64
 7   년       155920 non-null  int64
 8   시간대     155920 non-null  object
 9   승객수     155920 non-null  float64
 10  일       155920 non-null  int32
dtypes: datetime64[ns](1), float64(2), int32(1), int64(3), object(4)
memory usage: 12.5+ MB

In [13]:
from holidayskr import is_holiday

# '휴일여부' 컬럼 추가
df['휴일여부'] = df['수송일자'].apply(lambda x: is_holiday(x.strftime('%Y-%m-%d')))

df.head()

        수송일자  호선명  역번호  역명 승하차구분 승객유형  월     년      시간대    승객수  일   휴일여부
0 2022-06-01  2.0  230  신림    승차   일반  6  2022  06시간대이전  801.0  1  False
1 2022-06-01  2.0  230  신림    승차  어린이  6  2022  06시간대이전    0.0  1  False
2 2022-06-01  2.0  230  신림    승차  중고생  6  2022  06시간대이전    0.0  1  False
3 2022-06-01  2.0  230  신림    승차  청소년  6  2022  06시간대이전    9.0  1  False
4 2022-06-01  2.0  230  신림    승차  우대권  6  2022  06시간대이전  246.0  1  False

In [14]:
df.columns

Index(['수송일자', '호선명', '역번호', '역명', '승하차구분', '승객유형', '월', '년', '시간대', '승객수',
       '일', '휴일여부'],
      dtype='object')

In [15]:
# 요일 컬럼 추가
df['요일'] = df['수송일자'].dt.dayofweek

df.head()

        수송일자  호선명  역번호  역명 승하차구분 승객유형  월     년      시간대    승객수  일   휴일여부  요일
0 2022-06-01  2.0  230  신림    승차   일반  6  2022  06시간대이전  801.0  1  False   2
1 2022-06-01  2.0  230  신림    승차  어린이  6  2022  06시간대이전    0.0  1  False   2
2 2022-06-01  2.0  230  신림    승차  중고생  6  2022  06시간대이전    0.0  1  False   2
3 2022-06-01  2.0  230  신림    승차  청소년  6  2022  06시간대이전    9.0  1  False   2
4 2022-06-01  2.0  230  신림    승차  우대권  6  2022  06시간대이전  246.0  1  False   2

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155920 entries, 0 to 155919
Data columns (total 13 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   수송일자    155920 non-null  datetime64[ns]
 1   호선명     155920 non-null  float64
 2   역번호     155920 non-null  int64
 3   역명      155920 non-null  object
 4   승하차구분   155920 non-null  object
 5   승객유형    155920 non-null  object
 6   월       155920 non-null  int64
 7   년       155920 non-null  int64
 8   시간대     155920 non-null  object
 9   승객수     155920 non-null  float64
 10  일       155920 non-null  int32
 11  휴일여부    155920 non-null  bool
 12  요일      155920 non-null  int32
dtypes: bool(1), datetime64[ns](1), float64(2), int32(2), int64(3), object(4)
memory usage: 13.2+ MB

In [2]:
# 한글 폰트 문제 해결 
# matplotlib은 한글 폰트를 지원하지 않음
# os정보
import platform
import matplotlib.pyplot as plt

# font_manager : 폰트 관리 모듈
# rc : 폰트 변경 모듈
from matplotlib import font_manager, rc
# unicode 설정
plt.rcParams['axes.unicode_minus'] = False

if platform.system() == 'Darwin':
    rc('font', family='AppleGothic') # os가 macos
elif platform.system() == 'Windows':
    path = 'c:/Windows/Fonts/malgun.ttf' # os가 windows
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print("Unknown System")

In [18]:
import re

def extract_hour_from_time_period(time_period):
    match = re.match(r'(\d+)', time_period)
    if match:
        return int(match.group(1))
    return 0  # 기본값으로 0 사용

df['시간'] = df['시간대'].apply(extract_hour_from_time_period)

In [19]:
import pandas as pd

# 수정된 기본 비율
base_age_group_ratios = {
    '10대': 0.08,
    '20대': 0.20,
    '30대': 0.35,
    '40대': 0.25,
    '50대 이상': 0.12
}

# 수정된 시간대별 가중치
time_age_group_weights = {
    '출근시간': {'10대': 0.6, '20대': 1.2, '30대': 1.5, '40대': 1.4, '50대 이상': 0.8},
    '퇴근시간': {'10대': 0.7, '20대': 1.1, '30대': 1.2, '40대': 1.3, '50대 이상': 1.0},
    '일반시간': {'10대': 1.2, '20대': 0.9, '30대': 0.8, '40대': 0.7, '50대 이상': 1.4}
}

# 수정된 요일별 가중치
weekday_age_group_weights = {
    '평일': {'10대': 0.8, '20대': 1.0, '30대': 1.3, '40대': 1.2, '50대 이상': 0.7},
    '주말': {'10대': 1.5, '20대': 1.3, '30대': 0.7, '40대': 0.6, '50대 이상': 1.4},
    '공휴일': {'10대': 1.4, '20대': 1.2, '30대': 0.8, '40대': 0.7, '50대 이상': 1.5}
}

# 시간대 분류 함수
def get_time_period(hour):
    if 7 <= hour <= 9:
        return '출근시간'
    elif 17 <= hour <= 19:
        return '퇴근시간'
    else:
        return '일반시간'

# 요일 분류 함수
def get_weekday_type(is_holiday):
    if is_holiday:
        return '공휴일'
    return '주말' if row['요일'] >= 5 else '평일'  # 요일이 5 이상이면 주말

# 나이대별 승객 수 계산
def calculate_age_group_counts(row):
    time_period = get_time_period(row['시간'])
    weekday_type = get_weekday_type(row['휴일여부'])  # '주말' 대신 '휴일여부' 사용
    
    # 시간대와 요일별 가중치를 적용한 나이대 비율 계산
    adjusted_ratios = {
        age_group: base_age_group_ratios[age_group] *
                   time_age_group_weights[time_period][age_group] *
                   weekday_age_group_weights[weekday_type][age_group]
        for age_group in base_age_group_ratios
    }
    
    # 승객 수 계산
    total = sum(adjusted_ratios.values())
    adjusted_ratios = {k: v / total for k, v in adjusted_ratios.items()}  # 비율 정규화
    return {age_group: round(row['승객수'] * ratio) for age_group, ratio in adjusted_ratios.items()}  # 소수점 반올림

# 나이대별 승객 수 초기화 및 계산 적용
age_group_columns = ['10대', '20대', '30대', '40대', '50대 이상']

# 각 row에 대해 나이대별 승객 수 계산
for index, row in df.iterrows():
    age_group_counts = calculate_age_group_counts(row)
    for age_group, count in age_group_counts.items():
        df.at[index, age_group] = count

# '승객유형' 컬럼 삭제 (나이대로 분리되었으므로 불필요)
if '승객유형' in df.columns:
    df = df.drop(columns=['승객유형'])
else:
    print("'승객유형' 컬럼이 데이터프레임에 존재하지 않습니다.")

# 결과 확인
print(df.head())

        수송일자  호선명  역번호  역명 승하차구분  월     년      시간대    승객수  일   휴일여부  요일  시간  \
0 2022-06-01  2.0  230  신림    승차  6  2022  06시간대이전  801.0  1  False   2   6
1 2022-06-01  2.0  230  신림    승차  6  2022  06시간대이전    0.0  1  False   2   6
2 2022-06-01  2.0  230  신림    승차  6  2022  06시간대이전    0.0  1  False   2   6
3 2022-06-01  2.0  230  신림    승차  6  2022  06시간대이전    9.0  1  False   2   6
4 2022-06-01  2.0  230  신림    승차  6  2022  06시간대이전  246.0  1  False   2   6

    10대    20대    30대    40대  50대 이상
0  65.0  152.0  307.0  177.0    99.0
1   0.0    0.0    0.0    0.0     0.0
2   0.0    0.0    0.0    0.0     0.0
3   1.0    2.0    3.0    2.0     1.0
4  20.0   47.0   94.0   54.0    31.0

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155920 entries, 0 to 155919
Data columns (total 18 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   수송일자    155920 non-null  datetime64[ns]
 1   호선명     155920 non-null  float64
 2   역번호     155920 non-null  int64
 3   역명      155920 non-null  object
 4   승하차구분   155920 non-null  object
 5   월       155920 non-null  int64
 6   년       155920 non-null  int64
 7   시간대     155920 non-null  object
 8   승객수     155920 non-null  float64
 9   일       155920 non-null  int32
 10  휴일여부    155920 non-null  bool
 11  요일      155920 non-null  int32
 12  시간      155920 non-null  int64
 13  10대     155920 non-null  float64
 14  20대     155920 non-null  float64
 15  30대     155920 non-null  float64
 16  40대     155920 non-null  float64
 17  50대 이상  155920 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(7), int32(2), int64(4), object(3)
memory usage: 19.2+ MB

In [21]:
df.head()

,수송일자,호선명,역번호,역명,승하차구분,월,년,시간대,승객수,일,휴일여부,요일,시간,10대,20대,30대,40대,50대 이상
0,2022-06-01,2.0,230,신림,승차,6,2022,06시간대이전,801.0,1,False,2,6,65.0,152.0,307.0,177.0,99.0
1,2022-06-01,2.0,230,신림,승차,6,2022,06시간대이전,0.0,1,False,2,6,0.0,0.0,0.0,0.0,0.0
2,2022-06-01,2.0,230,신림,승차,6,2022,06시간대이전,0.0,1,False,2,6,0.0,0.0,0.0,0.0,0.0
3,2022-06-01,2.0,230,신림,승차,6,2022,06시간대이전,9.0,1,False,2,6,1.0,2.0,3.0,2.0,1.0
4,2022-06-01,2.0,230,신림,승차,6,2022,06시간대이전,246.0,1,False,2,6,20.0,47.0,94.0,54.0,31.0

In [22]:
# 시간대와 승하차구분으로 그룹화하여 승객수 합산
pivot_df = df.groupby(['시간대', '승하차구분'])['승객수'].sum().reset_index()

# 피벗 테이블을 사용하여 승차와 하차를 별도의 열로 만들기
pivot_df = pivot_df.pivot(index='시간대', columns='승하차구분', values='승객수').reset_index()
pivot_df.columns.name = None

# 승차와 하차 열의 이름 변경
pivot_df.rename(columns={'승차': '승차 승객수', '하차': '하차 승객수'}, inplace=True)

# '이용객' 컬럼 추가 (총 승객수)
pivot_df['이용객'] = pivot_df['승차 승객수'] + pivot_df['하차 승객수']

# 기존 df에 '이용객' 컬럼 추가
df = pd.merge(df, pivot_df[['시간대', '이용객']], on='시간대', how='left')

# 불필요한 컬럼 삭제
columns_to_drop = ['승하차구분', '호선명', '역번호', '역명']
df = df.drop(columns=columns_to_drop)

# 결과 확인
print(df.head())

        수송일자  월     년      시간대    승객수  일   휴일여부  요일  시간   10대    20대    30대  \
0 2022-06-01  6  2022  06시간대이전  801.0  1  False   2   6  65.0  152.0  307.0
1 2022-06-01  6  2022  06시간대이전    0.0  1  False   2   6   0.0    0.0    0.0
2 2022-06-01  6  2022  06시간대이전    0.0  1  False   2   6   0.0    0.0    0.0
3 2022-06-01  6  2022  06시간대이전    9.0  1  False   2   6   1.0    2.0    3.0
4 2022-06-01  6  2022  06시간대이전  246.0  1  False   2   6  20.0   47.0   94.0

     40대  50대 이상        이용객
0  177.0    99.0  1012192.0
1    0.0     0.0  1012192.0
2    0.0     0.0  1012192.0
3    2.0     1.0  1012192.0
4   54.0    31.0  1012192.0

In [23]:
df.to_csv("../Data/subway.csv", index=False)

In [3]:
df = pd.read_csv("../Data/subway.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155920 entries, 0 to 155919
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   수송일자    155920 non-null  object
 1   월       155920 non-null  int64
 2   년       155920 non-null  int64
 3   시간대     155920 non-null  object
 4   승객수     155920 non-null  float64
 5   일       155920 non-null  int64
 6   휴일여부    155920 non-null  bool
 7   요일      155920 non-null  int64
 8   시간      155920 non-null  int64
 9   10대     155920 non-null  float64
 10  20대     155920 non-null  float64
 11  30대     155920 non-null  float64
 12  40대     155920 non-null  float64
 13  50대 이상  155920 non-null  float64
 14  이용객     155920 non-null  float64
dtypes: bool(1), float64(7), int64(5), object(2)
memory usage: 16.8+ MB

In [5]:
df.head()

,수송일자,월,년,시간대,승객수,일,휴일여부,요일,시간,10대,20대,30대,40대,50대 이상,이용객
0,2022-06-01,6,2022,06시간대이전,801.0,1,False,2,6,65.0,152.0,307.0,177.0,99.0,1012192.0
1,2022-06-01,6,2022,06시간대이전,0.0,1,False,2,6,0.0,0.0,0.0,0.0,0.0,1012192.0
2,2022-06-01,6,2022,06시간대이전,0.0,1,False,2,6,0.0,0.0,0.0,0.0,0.0,1012192.0
3,2022-06-01,6,2022,06시간대이전,9.0,1,False,2,6,1.0,2.0,3.0,2.0,1.0,1012192.0
4,2022-06-01,6,2022,06시간대이전,246.0,1,False,2,6,20.0,47.0,94.0,54.0,31.0,1012192.0

> 이용객 = 승차 + 하차 이기에 승객수 컬럼 삭제

In [6]:
# '승객수' 컬럼 삭제
df = df.drop(columns=['승객수'])

# 결과 확인
print(df.head())
print(df.info())

         수송일자  월     년      시간대  일   휴일여부  요일  시간   10대    20대    30대    40대  \
0  2022-06-01  6  2022  06시간대이전  1  False   2   6  65.0  152.0  307.0  177.0
1  2022-06-01  6  2022  06시간대이전  1  False   2   6   0.0    0.0    0.0    0.0
2  2022-06-01  6  2022  06시간대이전  1  False   2   6   0.0    0.0    0.0    0.0
3  2022-06-01  6  2022  06시간대이전  1  False   2   6   1.0    2.0    3.0    2.0
4  2022-06-01  6  2022  06시간대이전  1  False   2   6  20.0   47.0   94.0   54.0

   50대 이상        이용객
0    99.0  1012192.0
1     0.0  1012192.0
2     0.0  1012192.0
3     1.0  1012192.0
4    31.0  1012192.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155920 entries, 0 to 155919
Data columns (total 14 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   수송일자    155920 non-null  object
 1   월       155920 non-null  int64
 2   년       155920 non-null  int64
 3   시간대     155920 non-null  object
 4   일       155920 non-null  int64
 5   휴일여부    155920 non-null  bool
 6   요일      155920 non-null  int64
 7   시간      155920 non-null  int64
 8   10대     155920 non-null  float64
 9   20대     155920 non-null  float64
 10  30대     155920 non-null  float64
 11  40대     155920 non-null  float64
 12  50대 이상  155920 non-null  float64
 13  이용객     155920 non-null  float64
dtypes: bool(1), float64(6), int64(5), object(2)
memory usage: 15.6+ MB
None

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155920 entries, 0 to 155919
Data columns (total 14 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   수송일자    155920 non-null  object
 1   월       155920 non-null  int64
 2   년       155920 non-null  int64
 3   시간대     155920 non-null  object
 4   일       155920 non-null  int64
 5   휴일여부    155920 non-null  bool
 6   요일      155920 non-null  int64
 7   시간      155920 non-null  int64
 8   10대     155920 non-null  float64
 9   20대     155920 non-null  float64
 10  30대     155920 non-null  float64
 11  40대     155920 non-null  float64
 12  50대 이상  155920 non-null  float64
 13  이용객     155920 non-null  float64
dtypes: bool(1), float64(6), int64(5), object(2)
memory usage: 15.6+ MB

In [8]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.multioutput import MultiOutputRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score, mean_absolute_percentage_error

# 데이터 준비 (df는 이미 로드되어 있다고 가정)
X = df[['시간대', '휴일여부', '요일', '시간']]
y = df[['10대', '20대', '30대', '40대', '50대 이상']]

# 범주형 변수 원-핫 인코딩
X = pd.get_dummies(X, columns=['시간대', '요일'])

# 데이터 분할
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 스케일링
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

# 모델 정의
models = {
    'Random Forest': MultiOutputRegressor(RandomForestRegressor(n_estimators=100, random_state=42)),
    'XGBoost': MultiOutputRegressor(XGBRegressor(n_estimators=100, random_state=42))
}

# 결과 저장을 위한 딕셔너리
results = {}

for name, model in models.items():
    print(f"\n처리 중: {name}")
    
    # 교차 검증 (5-fold)
    cv_scores = cross_val_score(model, X_scaled, y, cv=5, scoring='r2')
    
    # 모델 학습
    model.fit(X_train_scaled, y_train)
    
    # 훈련 점수
    train_score = model.score(X_train_scaled, y_train)
    
    # 테스트 점수
    test_score = model.score(X_test_scaled, y_test)
    
    # 예측
    y_pred = model.predict(X_test_scaled)
    
    # MAPE 계산 (예측률의 역수)
    mape = mean_absolute_percentage_error(y_test, y_pred)
    
    results[name] = {
        'Cross-Validation Score': cv_scores.mean(),
        'Cross-Validation Std': cv_scores.std(),
        'Train Score': train_score,
        'Test Score': test_score,
        'MAPE': mape,
        'Prediction Accuracy': 1 - mape  # MAPE의 역수를 예측률로 사용
    }

# 결과 출력
for name, scores in results.items():
    print(f"\n{name}:")
    for metric, value in scores.items():
        if isinstance(value, float):
            print(f"  {metric}: {value:.4f}")
        else:
            print(f"  {metric}: {value}")

처리 중: Random Forest

처리 중: XGBoost

Random Forest:
  Cross-Validation Score: -0.0268
  Cross-Validation Std: 0.0515
  Train Score: 0.0594
  Test Score: 0.0519
  MAPE: 138969575020225888.0000
  Prediction Accuracy: -138969575020225888.0000

XGBoost:
  Cross-Validation Score: -0.0082
  Cross-Validation Std: 0.0233
  Train Score: 0.0595
  Test Score: 0.0520
  MAPE: 138934513769661616.0000
  Prediction Accuracy: -138934513769661616.0000